  <!-- Start Clock -->
  <div class="special-container" style="display:none;">
    <a href="/collections/combos-deals/products/3-pack-sampler" id="clockdiv" class="clock-container">
      <div>
        <span class="days"></span>
        <div class="smalltext">Days</div>
      </div>
      <div>
        <span class="hours"></span>
        <div class="smalltext">Hours</div>
      </div>
      <div>
        <span class="minutes"></span>
        <div class="smalltext">Minutes</div>
      </div>
      <div>
        <span class="seconds"></span>
        <div class="smalltext">Seconds</div>
      </div>
    </a>
    
    <div class="code-container">
      <div>
        <p>6 Jars - Save 33%</p>
        <!--p>Enter Discount Code</p-->
      </div>
      <h3 class="code">
        <a href="/collections/combos-deals/products/pickle-sample-pack">$36.00</a>
      </h3>
    </div>
    
    <a href="/collections/combos-deals/products/pickle-sample-pack" class="bottom-bar">$36.00 six pack sampler <span>(Order Now)</span></a>
  </div>
  <!-- End Clock -->