  {% for link in linklists.top-menu.links %}
  <li class="fr">
    <a href="{{ link.url }}" onclick="ga('send', 'event', 'Universal Clicks', 'Top Nav', '{{ link.title }}');" {% if link.active or parent_link_active %} class="current"{% endif %}>
      {{ link.title }}
    </a> 
	</li>
  {% endfor %}