  <div class="vote-container">
    <div class="vote-header">
      <img src="//cdn.shopify.com/s/files/1/0517/1913/t/2/assets/vote-header.png" alt="Vote Header">
    </div>
  <!-- Begin slider -->
  <form id="mc-form">
  <div id="vote-slider">
    <ul class="slides">
      <li class="flavor" style="background-image: url(//cdn.shopify.com/s/files/1/0517/1913/products/Products-NoLabel-DILL_1024x1024.jpg?v=1415848469); background-position: top center; background-size: cover;">
        <div class="info">
          <h2>Deli<br>Style<br>Dill</h2>
          <p>A double helping of fresh sprigs of dill mixed with whole garlic cloves and our special blend of spices.</p>
          <label for="mce-FAVORITE-0">Select</label>
          <input type="radio" value="Deli Style Dill" name="FAVORITE" id="mce-FAVORITE-0">
        </div>
      </li>
      <li class="flavor" style="background-image: url(//cdn.shopify.com/s/files/1/0517/1913/products/Products-NoLabel-BNB_1024x1024.jpg?v=1415848458); background-position: top center; background-size: cover;">
        <div class="info">
          <h2>Bread<br>'N<br>Butter</h2>
          <p>Infused with whole yellow mustard seed, bell peppers, sweet onions and a hint of cloves.</p>
          <label for="mce-FAVORITE-5">Select</label>
          <input type="radio" value="Bread N Butter" name="FAVORITE" id="mce-FAVORITE-5">
        </div>
      </li>
      <li class="flavor" style="background-image: url(//cdn.shopify.com/s/files/1/0517/1913/products/Products-NoLabel-PC_1024x1024.jpg?v=1418597699); background-position: top center; background-size: cover;">
        <div class="info">
          <h2>Black<br />Pepper<br />Chips</h2>
          <p>Open your mind for this one. Our most unique flavor comes from whole black peppercorns and fresh garlic.</p>
          <label for="mce-FAVORITE-4">Select</label>
          <input type="radio" value="Black Pepper Chips" name="FAVORITE" id="mce-FAVORITE-4">
        </div>
      </li>
      <li class="flavor" style="background-image: url(//cdn.shopify.com/s/files/1/0517/1913/products/Products-NoLabel-SPICY_1024x1024.jpg?v=1415848511); background-position: top center; background-size: cover;">
        <div class="info">
          <h2>Spicy<br>Dill<br>Spears</h2>
          <p>The pickle that started it all. Our special blend of spices along with fresh dill and a jalapeno.</p>
          <label for="mce-FAVORITE-1">Select</label>
          <input type="radio" value="Spicy Dill" name="FAVORITE" id="mce-FAVORITE-1">
        </div>
      </li>
      <li class="flavor" style="background-image: url(//cdn.shopify.com/s/files/1/0517/1913/products/Products-NoLabel-MoF_1024x1024.jpg?v=1415848499); background-position: top center; background-size: cover;">
        <div class="info">
          <h2>Mustache<br>On<br>Fire</h2>
          <p>A bet gone right, be sure to hold on to your mustache while you eat our spiciest pickle. </p>
          <label for="mce-FAVORITE-2">Select</label>
          <input type="radio" value="Mustache on Fire" name="FAVORITE" id="mce-FAVORITE-2">
        </div>
      </li>
      <li class="flavor" style="background-image: url(//cdn.shopify.com/s/files/1/0517/1913/products/Products-NoLabel-GKB_1024x1024.jpg?v=1415848483); background-position: top center; background-size: cover;">
        <div class="info">
          <h2>Grandma<br />Knows Best<br />Peppers</h2>
          <p>My Hungarian grandmother, Maria, told me about her Hungarian pepper sweet hot recipe.</p>
          <label for="mce-FAVORITE-3">Select</label>
          <input type="radio" value="Grandma Knows Best Peppers" name="FAVORITE" id="mce-FAVORITE-3">
        </div>
      </li>
      <li class="flavor" style="background-image: url(//cdn.shopify.com/s/files/1/0517/1913/products/Sideburns-Bright_1024x1024.jpg?v=1460686353); background-position: top center; background-size: cover;">
        <div class="info">
          <h2>Sideburns<br />Grilled<br />Pickles</h2>
          <p>"The Original Grilled Pickle" are the perfect pickle for any occasion. A smooth blend of smokey and savory. </p>
          <label for="mce-FAVORITE-6">Select</label>
          <input type="radio" value="Sideburns" name="FAVORITE" id="mce-FAVORITE-6">
        </div>
      </li>
      <!-- items mirrored twice, total of 12 -->
    </ul>
  </div>
  <!-- End slider -->
    <div class="form-footer">
    <input type="email" value="" name="EMAIL" class="required email vote-email" id="mce-EMAIL" placeholder="Email">
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_5b880a33a965a7612a947364e_fa022c6532" tabindex="-1" value=""></div>
        <div class="clear"><input type="submit" value="Submit Ballot" name="subscribe" id="mc-embedded-subscribe" class="button vote-button"></div>
        <p class="note">*By Entering this contest you will be added to our email list!</p>
      </div>
    </div>
</div>
</form>

</div>

<!--End mc_embed_signup-->

<div id="page" class="row">
          <div class="span12 details">
            <h1 style="margin-top: 80px;">Vote For Your Favorite Flavor</h1>
            <p class="p25">At the end of the week we'll be selecting the lucky winners and we'll send them their favorite jar!</p>
            <p>Once you submit your ballot, make sure and check your email inbox (or spam) and click the confirmation link. That's the only way to be entered into the contest. Good Luck!</p>
            <div class="social">
              {% include 'addthis-article' %}
            </div>
            
          </div>
        </div>
        
        
