<div id="page" class="row">
          <div class="span12">
            <h1 class="p25">{{ page.title }}</h1>
          </div>
          <div class="row">
            <div class="span12">
              <p>Do you want to see our products in a store near you? Click on the <a href="{{ 'randys-pickles-product-request.pdf' | asset_url }}" target="_blank">form</a> below, print it,  and take it to the customer service desk and ask for the grocery manager. If you're in a pickle and need some pickles now, use discount code <b>request20</b> to save 20% on any order over $98!
              </p>
              <p>We thank all of our loyal fans for their continued support. Remember to <a href="https://randyspickles.com/pages/alwaysbepickling">#AlwaysBePickling</a>.
              </p>
              <p>
                <a href="{{ 'randys-pickles-product-request.pdf' | asset_url }}" target="_blank">
                  <img src="{{ 'randys-pickles-product-request_THUMB.jpg' | asset_url }}" alt="Ranyd's Pickles Product Request Form" style="border: 1px solid #e2e2e2;" />
                </a>
              </p>
              <p>
                Facebook: <a href="https://www.facebook.com/RandysPickles/" target="_blank">https://www.facebook.com/RandysPickles</a><br />
                Instagram: <a href="https://www.instagram.com/randyspickles/" target="_blank">https://www.instagram.com/randyspickles</a><br />
                Twitter: <a href="https://twitter.com/randyspickles" target="_blank">https://twitter.com/randyspickles</a><br />
              </p>
            </div>
          </div>
        </div>
