<div id="page" class="row">
          <div class="details">
            <div class="span12">
              <h1 class="p0">{{ page.title }}</h1>
            </div>
            <div class="span12">
            <p>We'd love to see you. If you are looking to purchase pickles, find us at one of the retail store, retaurants, or farmers market locations below. See you soon!</p>
            <p>If you would like to sell our products at your retail location, or if you want to feature our pickles in your restaurant, please either email Randy at <a href="mailto:andrew@randyspickles.com">andrew@randyspickles.com</a> or fill out our <a href="/pages/wholesale">wholesale contact form</a>.
            </div>
            <div class="span6 retail where-to-buy-list">
              <h2 class="black w-line-middle p0"><span>Retail Stores</span></h2>
              <div class="location">
                <h3 class="p0"><a href="http://www.acmestores.com/" target="_blank">Acme Fresh Market</a><span>new</span></h3>
                <h4 class="cities p0">17 Locations</h4>
                <p class="p10"><strong>Corporate Office</strong><br />
                  2700 Gilchrist Rd, PO Box 1910, <br />Akron, OH<br /><a href="http://www.acmestores.com/my-store-locations/" target="_blank">Find a Store</a> | <a href="http://www.acmestores.com/" target="_blank">View Website</a></p>
              </div>
              <div class="location">
                <h3 class="p0"><a href="https://www.facebook.com/AlsQualityMarket/" target="_blank">Al's Quality Market</a></h3>
                <p>155 2nd street NW <br />Barberton, OH 44203 <br />(330) 753-7216<br /><a href="https://www.google.com/maps/dir/''/al's+quality+market/data=!4m5!4m4!1m0!1m2!1m1!1s0x8830d37f6f3e57a3:0x968b2fb5096b47f5?sa=X&ved=0ahUKEwj21KiD66TLAhVDwiYKHfFWABMQ9RcIgAEwCw" target="_blank">Click for Directions</a> | <a href="https://www.facebook.com/AlsQualityMarket/" target="_blank">View Website</a></p>
              </div>
              <div class="location">
                <h3 class="p0">The Corner Store</h3>
                <p>616 Prospect St<br />Elyria, OH 34035<br />(440) 284-5955<br /><a href="https://www.google.com/maps/dir//Corner+Store,+616+Prospect+St,+Elyria,+OH+44035/@41.362438,-82.088556,17z/data=!4m12!1m3!3m2!1s0x0:0x4f5f4f552e5a6032!2sCorner+Store!4m7!1m0!1m5!1m1!1s0x883098f96dcee6e7:0x4f5f4f552e5a6032!2m2!1d-82.088556!2d41.362438" target="_blank">Click for Directions</a></p>
              </div>
              <div class="location">
                <h3 class="p0"><a href="http://www.marketdistrict.com/" target="_blank">Giant Eagle Market District</a><span>new</span></h3>
                <h4 class="cities p0">Cleveland</h4>
                <p class="p10"><strong>Green</strong><br />1700 Corporate Woods Parkway<br />Uniontown, OH 44685</p>
                <p class="p10"><strong>Portage Crossing</strong><br />2687 State Road<br />Cuyahoga Falls, OH 44223</p>
                <p class="p10"><strong>Solon</strong><br />34310 Aurora Road<br />Solon, OH 44139</p>
                <p class="p10"><strong>Strongsville</strong><br />15919 Pearl Road<br />Strongsville, OH 44136<br /><a href="http://www.marketdistrict.com/" target="_blank">View Website</a></p>
                <h4 class="cities p0">Columbus</h4>
                <p class="p10"><strong>Dublin Market District</strong><br />6700 Perimeter Loop Road<br />Dublin, OH 43017</p>
                <p class="p10"><strong>Kingsdale Market District</strong><br />3061 Kingsdale Center<br />Columbus, OH 43221</p>
                <p class="p10"><strong>Grandview Yard Market District</strong><br />840 W 3rd Avenue<br />Columbus, OH 43212</p>
              </div>
              <div class="location">
                <h3 class="p0"><a href="http://gracebrosnursery.com/" target="_blank">Grace Brothers</a></h3>
                <p class="p10">1907 W65th Street<br />Cleveland, OH 44102<br />(216) 513-3262<br /><a href="https://www.google.com/maps/dir//1907+W+65th+St,+Cleveland,+OH+44102/@41.479626,-81.729951,17z/data=!4m13!1m4!3m3!1s0x8830f03423a5078d:0x7a17c662834ea38d!2s1907+W+65th+St,+Cleveland,+OH+44102!3b1!4m7!1m0!1m5!1m1!1s0x8830f03423a5078d:0x7a17c662834ea38d!2m2!1d-81.729951!2d41.479626" target="_blank">Click for Directions</a> | <a href="http://gracebrosnursery.com/" target="_blank">View Website</a></p>
                <p>12905 Ridge Road<br />North Royalton, OH 44133<br />(440) 237-2577<br /><a href="https://www.google.com/maps/dir//Grace+Brothers+Nursery+%26+Supply,+12905+Ridge+Road,+North+Royalton,+OH+44133/@41.320174,-81.734217,17z/data=!4m12!1m3!3m2!1s0x0:0x846a44da5159033e!2sGrace+Brothers+Nursery+%26+Supply!4m7!1m0!1m5!1m1!1s0x8830e834bc1cadff:0x846a44da5159033e!2m2!1d-81.734217!2d41.320174" target="_blank">Click for Directions</a> | <a href="http://gracebrosnursery.com/" target="_blank">View Website</a></p>
              </div>
              <div class="location">
                <h3 class="p0"><a href="http://www.thegroceryohc.com/" target="_blank">The Grocery</a></h3>
                <p>18120 Sloane Avenue<br />Lakewood, OH 44107<br /><a href="https://www.google.com/maps/dir/''/the+grocery+ohio+city/data=!4m5!4m4!1m0!1m2!1m1!1s0x8830f01569b3634b:0xfc895dd339d8f2df?sa=X&ei=5nwwVcqLLpDisATCpYCYCw&sqi=2&ved=0CHcQ9RcwCw" target="_blank">Click for Directions</a> | <a href="http://www.thegroceryohc.com/" target="_blank">View Website</a></p>
              </div>      
      
              <div class="location">
                <h3 class="p0"><a href="http://www.heinens.com/" target="_blank">Heinens</a></h3>
                <p class="p10">115 N Chillicothe Road, <br />Aurora, OH 44202 <br />(330) 562-5297</p>
                <p class="p10">8482 E. Washington Street, <br />Bainbridge, OH 44022 <br />(440) 543-5166</p>
                <p class="p10">8383 Chippewa Road, <br />Brecksville, OH 44141 <br />(440) 740-0535</p>
                <p class="p10">19 Clinton Street, <br />Hudson, OH 44236 <br />(330) 655-5255</p>
                <p class="p10">8850 Mentor Avenue, <br />Mentor, OH 44060 <br />(440) 255-1244</p>
                <p class="p10">30849 Pinetree Road, <br />Pepper Pike, OH 44124 <br />(216) 831-8300</p>
                <p class="p10">35980 Detroit Road, <br />Avon, OH 44011 <br />(440) 937-7660</p>
                <p class="p10">434 Dover Center Road, <br />Bay Village, OH 44140 <br />(440) 871-5066</p>
                <p class="p10">402 Center Street, <br />Chardon, OH 44024 <br />(440) 286-5484</p>
                <p class="p10">860 Som Center Road, <br />Mayfield Village, OH 44143 <br />(440) 449-4478</p>
                <p class="p10">15300 East Bagley Road, <br />Middleburg Heights, OH 44130 <br />(440) 886-2205</p>
                <p class="p10">19219 Detroit Road, <br />Rocky River, OH 44116 <br />(440) 331-3830</p>
                <p class="p10">16611 Chagrin Boulevard, <br />Shaker Heights, OH 44120 <br />(216) 921-6638</p>
                <p class="p10">10049 Darrow Road, <br />Twinsburg, OH 44087 <br />(330) 405-5700</p>
                <p class="p10">34501 Ridge Road, <br />Willoughby, OH 44094 <br />(440) 943-3100</p>
                <p class="p10">18300 Royalton Road, <br />Strongsville, OH 44136 <br />(440) 238-9491</p>
                <p class="p10">2180 South Green Road, <br />Univeristy Heights, OH 44121 <br />(216) 382-4144<br /><a href="https://www.google.com/maps/search/heinens/@41.3052995,-81.7720894,9z" target="_blank">Click for Directions</a> | <a href="http://www.heinens.com/" target="_blank">View Website</a></p>
              </div>
              <div class="location">
                <h3 class="p0"><a href="http://jpistone.com/" target="_blank">J Pistone</a></h3>
                <p>3245 Warrensville Road<br />Shaker Heights, OH 44122<br /><a href="https://www.google.com/maps/dir/''/J+Pistone/@41.4714629,-81.5703358,13z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x8830fd6ae039dc07:0x538672adb4572329!2m2!1d-81.536003!2d41.471468" target="_blank">Click for Directions</a> | <a href="http://jpistone.com/" target="_blank">View Website</a></p>
              </div>
              <div class="location">
                <h3 class="p0"><a href="http://www.kkportage.com/" target="_blank">K&amp;K Portage Market</a></h3>
                <p>3364 Warren Road<br />Cleveland, OH 44111<br /><a href="https://www.google.com/maps/dir/''/K%26K+Portage+Market/@41.4624879,-81.8375708,13z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x8830ed8cf4fe398b:0x258ab6147c597502!2m2!1d-81.803238!2d41.462493" target="_blank">Click for Directions</a> | <a href="http://www.kkportage.com/" target="_blank">View Website</a></p>
              </div>
              <div class="location">
                <h3 class="p0"><a href="http://www.lakewoodhardware.com/" target="_blank">Lakewood Hardware</a></h3>
                <p>16608 Madison Avenue <br />Lakewood, OH 44107<br />(216) 226-8822<br /><a href="https://www.google.com/maps/dir/''/lakewood+hardware/@41.4765212,-81.8132957,14z/data=!4m8!4m7!1m0!1m5!1m1!1s0x8830f27aef32dc6b:0xb38de0a80c4c22b0!2m2!1d-81.813381!2d41.477716" target="_blank">Click for Directions</a> | <a href="http://www.lakewoodhardware.com/" target="_blank">View Website</a></p>
              </div>
              <div class="location">
                <h3 class="p0"><a href="http://www.milesfarmersmarket.com/" target="_blank">Miles Farmers Market</a></h3>
                <p>28560 Miles Road<br />Solon, OH 44139<br /><a href="https://www.google.com/maps/dir/''/miles+market/@41.4235919,-81.5111218,13z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x88311d1f2052e5a5:0xc466b6adc0de0646!2m2!1d-81.476789!2d41.423597" target="_blank">Click for Directions</a> | <a href="http://www.milesfarmersmarket.com/" target="_blank">View Website</a></p>
              </div>
              <div class="location">
                <h3 class="p0"><a href="http://www.cornucopia-inc.org/" target="_blank">Nature's Bin</a></h3>
                <p>18120 Sloane Avenue<br />Lakewood, OH 44107<br /><a href="https://www.google.com/maps/dir/''/Nature's+Bin/@41.4866749,-81.8580538,13z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x8830f28a69064cb3:0x784ad492d635e5cd!2m2!1d-81.823721!2d41.48668" target="_blank">Click for Directions</a> | <a href="http://www.cornucopia-inc.org/" target="_blank">View Website</a></p>
              </div>
              <div class="location">
                <h3 class="p0">Polanski Meat Market</h3>
                <p>6703 S Dewey Rd<br />Amherst, OH 44001<br /><a href="https://www.google.com/maps/dir/''/Polanski+Meat+Market/@41.4020869,-82.2359418,13z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x88309e10d4015c05:0x4687151837a17168!2m2!1d-82.201609!2d41.402092" target="_blank">Click for Directions</a></p>
              </div>
              <div class="location">
                <h3 class="p0"><a href="http://www.thesoupermarket.com/locations/" target="_blank">SouperMarket</a></h3>
                <p class="p10"><b>Lakewood</b><br />14809 Detroit Avenue <br />Lakewood, OH 44107 <br />(216) 712-7292</p>
                <p class="p10"><b>Midtown</b><br />7501 Carnegie Ave <br />Cleveland, OH 44103 <br />(216) 361-1355</p>
                <p class="p10"><b>Ohio City</b><br />2528 Lorain Avenue <br />Cleveland, OH 44113 <br />(216) 737-7687</p>
                <p class="p0"><b>Kamm's Corners</b><br />16804 Lorain Rd <br />West Park, Cleveland, OH 44126 <br />(216) 941-4604</p>
                <p class="p"><a href="http://www.thesoupermarket.com/locations/" target="_blank">View Website</a></p>
              </div>
      
              <div class="location">
                <h3 class="p0"><a href="http://tjsbutcherblock.com/" target="_blank">TJ's Butcher Block &amp; Deli</a></h3>
                <p>14415 Detroit Ave<br />Cleveland, OH 34107<br />(216) 521-3303<br /><a href="https://www.google.com/maps/dir//T+J+Butcher+Block+%26+Deli,+14415+Detroit+Ave,+Cleveland,+OH+44107/@41.48526,-81.795262,17z/data=!4m12!1m3!3m2!1s0x0:0x6c5d38d94f166d79!2sT+J+Butcher+Block+%26+Deli!4m7!1m0!1m5!1m1!1s0x8830f2142ad559e5:0x6c5d38d94f166d79!2m2!1d-81.795262!2d41.48526" target="_blank">Click for Directions</a> | <a href="http://tjsbutcherblock.com/" target="_blank">View Website</a></p>
              </div>
      
              <div class="location">
                <h3 class="p0">Unusual Junction</h3>
                <p>56310 US 36<br />West Lafayette, OH 43845<br /><a href="https://www.google.com/maps/dir/''/Unusual+Junction/@40.2848109,-81.7395238,13z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x8837a639930625b9:0x791b10215fbace0f!2m2!1d-81.705191!2d40.284816" target="_blank">Click for Directions</a></p>
              </div>
              <div class="location">
                <h3 class="p0">Waterbelt Foods</h3>
                <p>Oberlin, OH 44074</p>
              </div>
              <div class="location">
                <h3 class="p0"><a href="http://thewinespotonline.com/" target="_blank">Wine Spot</a></h3>
                <p>2271 Lee Road,<br /> Cleveland Heights, OH 44118<br /><a href="https://www.google.com/maps/dir/''/Wine+Spot/data=!4m5!4m4!1m0!1m2!1m1!1s0x8830fc53d7f3969b:0x1a802e454084579d?sa=X&ei=5H0wVe_bDo7asATQ3IGwAg&ved=0CJUBEPUXMA8" target="_blank">Click for Directions</a> | <a href="http://thewinespotonline.com/" target="_blank">View Website</a></p>
              </div>
            
      
              <h4 class="cities p0">Columbus</h4>
              <div class="location">
                <h3 class="p0"><a href="http://thebrownbaggv.com/" target="_blank">Brown Bag Deli</a></h3>
                <p>898 Mohawk St<br />Columbus, OH 33206<br />(614) 443-4214<br /><a href="https://www.google.com/maps/dir//898+Mohawk+St,+Columbus,+OH+43206/@39.9442799,-83.0267088,13z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x883888b2a820324d:0x7e967a0c7b6605bf!2m2!1d-82.992376!2d39.944285" target="_blank">Click for Directions</a> | <a href="http://thebrownbaggv.com/" target="_blank">View Website</a></p>
              </div>
            </div><!-- /retail -->

            <div class="span6 restaurants where-to-buy-list">
              <h2 class="black p0 w-line-middle"><span>Restaurants</span></h2>
              <p class="p25">These locations feature Randy's Pickles, whether it be fried, in a bloody mary, on a sandwich, or a garnish. Ask about our pickles when you go!</p>
              <div class="location">
                <h3 class="p0"><a href="http://www.marketbeer.com/home.htm" target="_blank">Market</a></h3>
                <p>  1137 Linda St. <br />Rocky River, OH 44116<br />(440) 799-4292<br /><a href="https://www.google.com/maps/dir//Market,+1137+Linda+St,+Rocky+River,+OH+44116/@41.480266,-81.8432369,14z/data=!4m9!4m8!1m0!1m5!1m1!1s0x8830f297686fc25b:0xc279e6d75f2f85d4!2m2!1d-81.840318!2d41.481783!3e0" target="_blank">Click for Directions</a> | <a href="http://www.marketbeer.com/home.htm" target="_blank">View Website</a></p>
              </div>
            </div> <!-- /restaurants -->
            <div class="span6 farmers-markets where-to-buy-list out-of-season">
              <h2 class="black w-line-middle p0"><span>Farmers Markets</span></h2>
              <p class="disabled-message">Most of the farmers markets are closed for the season, check our <a href="https://www.facebook.com/RandysPickles/events?ref=page_internal" target="_blank">Facebook page</a> for our upcoming events. Or go to one of our fine retailers for your pickle needs!</p>
              <div class="location">
                <h3 class="p0">Tremont</h3>
                <p>Tuesdays <strong>4—7PM</strong><br /><a href="https://www.google.com/maps/dir//Lincoln+Park,+Cleveland,+OH+44113/@41.4776769,-81.6922341,16z/data=!4m12!1m3!3m2!1s0x0:0xc687825255a7f1a8!2sLincoln+Park!4m7!1m0!1m5!1m1!1s0x8830faa0304001ed:0xc687825255a7f1a8!2m2!1d-81.690304!2d41.478517" target="_blank">Click for Directions</a></p>
              </div>
              <div class="location">
                <h3 class="p0">Gordon Sqaure</h3>
                <p>Wednesdays <strong>4—7PM</strong><br /><a href="https://www.google.com/maps/dir//6415+Detroit+Ave,+Cleveland,+OH+44102/@41.4839869,-81.7637718,13z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x8830f04a1e29e379:0xad749287dd8f1416!2m2!1d-81.729439!2d41.483992" target="_blank">Click for Directions</a></p>
              </div>
              <div class="location">
                <h3 class="p0">Old Brooklyn Market</h3>
                <p>Thursday <strong>4—7PM</strong><br /><a href="https://www.google.com/maps/dir//The+MetroHealth+System:+Senior+Health+%26+Wellness+Center,+4229+Pearl+Rd,+Cleveland,+OH+44109/@41.439758,-81.704923,17z/data=!4m12!1m3!3m2!1s0x8830ef931d480a71:0x28f9c37ad5b30af4!2sThe+MetroHealth+System:+Senior+Health+%26+Wellness+Center!4m7!1m0!1m5!1m1!1s0x8830ef931d480a71:0x28f9c37ad5b30af4!2m2!1d-81.704923!2d41.439758" target="_blank">Click for Directions</a></p>
              </div>
              <div class="location">
                <h3 class="p0">Shaker Square Market</h3>
                <p>Saturdays <strong>8AM—12PM</strong><br /><a href="https://www.google.com/maps/dir//13209+Shaker+Square,+Cleveland,+OH+44120/@41.488198,-81.587763,14z/data=!4m13!1m4!3m3!1s0x8830fc8e4c4922b7:0xf45b4de31afa89ee!2s13209+Shaker+Square,+Cleveland,+OH+44120!3b1!4m7!1m0!1m5!1m1!1s0x8830fc8e4c4922b7:0xf45b4de31afa89ee!2m2!1d-81.5894399!2d41.4845369?hl=en-US" target="_blank">Click for Directions</a></p>
              </div>
              <div class="location">
                <h3 class="p0">Ohio City</h3>
                <p>Sundays <strong>11AM—2PM</strong><br /><a href="https://www.google.com/maps/dir//2012+W+25th+St,+Cleveland,+OH+44113/@41.483497,-81.703741,16z/data=!4m13!1m4!3m3!1s0x8830f06d0a649357:0xade16b2c37ae68e0!2s2012+W+25th+St,+Cleveland,+OH+44113!3b1!4m7!1m0!1m5!1m1!1s0x8830f06d0a649357:0xade16b2c37ae68e0!2m2!1d-81.7037409!2d41.483497?hl=en-US" target="_blank">Click for Directions</a></p>
              </div>
              <div class="location">
                <h3 class="p0">The Cleveland Flea</h3>
                <p>Every second Saturday of the month <strong>9AM—5PM</strong><br />Sept. 13, Oct. 11, Nov. 21<br /><a href="http://theclevelandflea.com/google-maps/" target="_blank">Click for Directions</a></p>
              </div>
            </div><!-- /farmers markets -->
          </div>
        </div>