<div class="recipe-winner">
<p>The January winner of the Randy's Pickles Recipe of the month contest goes to Carole Resnick! See below for her <strong>Randy's Reuben Pasta Salad</strong> recipe.</p>
<p>We would like to give a special shout out to <a href="https://clevelandkraut.com/" target="_blank">Cleveland Kraut</a> for giving us a jar of their <a href="https://clevelandkraut.com/product/cleveland-kraut-4-pack/" target="_blank">Classic Caraway</a> sauerkraut that we used when creating the recipe</p> 
<p>We would also like to thank <a href="http://www.kkportage.com/" target="_blank">K &amp; K Portage</a> for hooking us up with some delicious <a href="http://www.kkportage.com/products-brands/ target="_blank"">Corned Beef</a> and Swiss Cheese!</p>
<h2>Randy's Reuben Pasta Salad</h2>
<p class="serves">(Serves 4-6)</p>
<img src="//cdn.shopify.com/s/files/1/0517/1913/files/201701-reuben-pasta-salad.jpg?v=1487025114" alt="Randys Reuben Pasta Salad" />
<ul class="ingredients">
<h3>Ingredients</h3>
<li><span>1 Pound</span> Pasta (shape of choice), cooked according to package directions &amp; drained</li>
<li><span>3 Medium</span> Green onions, finely chopped (white and light green parts, only)</li>
<li><span>1 cup</span> Sauerkraut, drained and patted dry</li>
<li><span>3/4 Cup</span> Randy’s Pickles (variety of choice) drained, patted dry &amp; chopped</li>
<li><span>1 1/2 Cups</span> Corned beef, cubed</li>
<li><span>1 1/2 Cups</span> Swiss Cheese, cubed</li>
<li><span>1/2 Cup</span> Mayonnaise, variety of choice</li>
<li><span>1/2 Cup</span> Sour cream, variety</li>
<li><span>1/3 Cup</span> Thousand Island Salad Dressing, homemade or prepared</li>
<li><span>1 Tablespoon</span> Dijon Mustard, or to taste</li>
<li><span>3 Tablespoons</span> Sauerkraut juice</li>
<li><span>1 1/2 Teaspoons</span> Caraway seeds (optional)</li>
<li><span>1 Teaspoon</span> Salt, or to taste</li>
<li><span>1/2 Teaspoon</span> Freshly ground black pepper, or to taste</li>
<li><span>1/2 Teaspoon</span> Garlic powder, or to taste</li>
</ul>
<h3 class="color-orange">Instructions</h3>
<ol class="instructions">
<li>In a large bowl combine pasta, green onions, sauerkraut, pickles, corned beef and cheese. Toss to blend and set aside.</li>
<li>For dressing: In a small bowl combine mayonnaise, sour cream, salad dressing, mustard, juice, caraway seeds (if using), salt, pepper and garlic powder. Whisk to combine.</li>
<li>Pour dressing over salad and toss to coat. Cover bowl and chill for several hours before serving.</li>
</ol>
<h3><a href="/pages/recipes">Enter the Recipe Contest</a></h3>
<p>If your recipe is picked, we'll deliver 2 free jars to your house! <a href="/pages/recipes">Learn More</a></p>
</div>