<div id="page" class="row">
          <div class="span12 details">
            <h1 class="p0">Recipe of the Month Contest</h1>
            <p class="p25"><b>Submit your recipes until February, 28 2017.</b></p>
            <p>Submit your favorite food or drink recipe that uses one of your favorite Randy's Pickles flavors. We've seen all types of recipes including: salsa, chicken salad, omlettes, and bloody marys. Be creative and get cooking!</p>
            <p>At the end of every month we will post <b>three</b> of the recipe finalists on our <a href="http://www.facebook.com/randyspickles">facebook</a> page, where we will have our fans vote on the winner.</p>
            <p>The recipe that receives the most "likes" will be crowned the Recipe of the Month Champion. We will post the winners recipe on our website and mail them <b>TWO</b> free jars of their choice! </p>
            <h2 class="color-orange">Sumbission Rules</h2>
            <ol>
              <li>Send an email with your recipe to <a href="mailto:hello@randyspickles.com?subject=Recipe Contest">hello@randyspickles.com</a> using "Recipe Contest" in the subject line.</li>
              <li>Submission Deadline: <b>Feb, 28 2017</b> @ 11:59PM</li>
            </ol>
            
            <h3>Submission must include:</h3>
            <ol>
              <li>Your submission must include at least <b>one image</b> (.jpg or .png) of your recipe. The more photos you include the better your chance of winning. Suggested photos: Ingredients, Preparation, Cooking, Finished Product. </li>
              <li>Your submission must include a list of ingredients.</li>
              <li>Your recipe ingredients must include one of our <a href="/collections/buy-pickles-online">Pickled Products</a>.</li>
              <li>Your submission must include instructions on how to make the recipe.</li>
            </ol>
              <h2>Previous Winners</h2>
              <p><a href="http://randyspickles.com/blogs/pickling-blog/recipe-of-the-month-randys-reuben-pasta-salad-january">Randy's Reuben Pasta Salad</a> - Carole Resnick (January)</p> 
              
          </div>
        </div>