<div id="page" class="row">
          <div class="span12 details">
            <h1 class="p0">{{ page.title }}</h1>
            <p class="p25">Watch videos posted by the Randy's Pickles team!</p>
            <a href="#" onClick="revealModal(182708878); return false;" class="btn">Watch Video</a>
            <div id="modal-bg" onClick="closeModal(); return false;"></div>
            <div id="videoModal" class="reveal-modal large">
                <div class="flex-video widescreen vimeo">
                    <iframe id="videoIframe" width="1280" height="720" src="https://player.vimeo.com/video/182708878" frameborder="0" allowfullscreen></iframe>
                </div>

                <a href="#" class="close-reveal-modal green-x" onClick="closeModal(); return false;"><svg width="12" height="12" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg"><path d="M10.667 0L6 4.666 1.334 0 0 1.333 4.667 6 0 10.665 1.333 12 6 7.333 10.668 12 12 10.666 7.333 6 12 1.332 10.667 0z" fill="#ffffff" fill-rule="evenodd"></path></svg></a>
            </div>
          </div>
        </div>